/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-inverse .navbar-brand {

    color: #ddffe0;
}
.navbar-fixed-top {
    border: 0;
    background-color: #42ca8b;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

.log_image{
    height: 170px;
    text-align: center;
}

.text-change-link{
    background-color: #4caf50 !important;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #42ca8b;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.shadow-well {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.login-vertical {
    padding-top: 10vh;
}

#navbar-user {
    font-size: 18px;
    font-weight: bold;
}

#side-menu,#ajax-container{
    padding-top: 40px;
}

#overview-pannel{
    min-height: 60vh;
}

.app-action-btn{
    position: absolute;
    top: 20px;
    right: 20px;
}

.lbl-percentage{
    position: absolute;
    /* margin-top: -128px; */
    /* margin-left: 15px; */
    color: black;
    font-size: 30px;
    /* vertical-align: middle; */
    /* padding-top: 21%; */
    /* padding-left: 19%; */
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    top: 35%;
    left: 0;
    /* display: table-cell; */
    /* text-align: center; */
}
.lbl-topic{
    font-size: 12px;
}
